<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.rapis.dao.CommodityMapper">
    <sql id="commonFields">
        create_by,create_time,update_by,update_time
    </sql>

    <sql id="commodityFields">
        chinese_name,short_name,image_url,quantity,price,category
    </sql>

    <insert id="insertCommodity">
        insert into user (<include refid="commodityFields"></include>,<include refid="commonFields"></include>)
        values (#{chineseName},#{shortName},#{imageUrl},#{quantity},#{price},#{category},#{createBy},#{createTime},#{updateBy},#{updateTime})
    </insert>

    <select id="getCommodityList" resultType="com.rapis.entity.Commodity">
        select <include refid="commodityFields"></include>
        from commodity
        limit #{offset}, #{limit}
    </select>

    <select id="selcetByName" resultType="com.rapis.entity.Commodity">
        select <include refid="commodityFields"></include>
        from commodity
        where short_name=#{shortName}
    </select>

    <update id="updateQuantity">
        update commodity set quantity= #{quantity} where short_name= #{shortName}
    </update>
</mapper>
